@using TestProductWeb.DTOs;

@model ProductUpdateDto;
@{
    ViewData["Title"] = "Edit Product";
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">@ViewData["Title"]</h2>
        <form method="post" asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Id</label>
                <div class="col-sm-8">
                    <input class="form-control" value="@ViewBag.Id" disabled/>
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Name" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="Name" class="form-control" value="@ViewBag.Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Old Description</label>
                <div class="col-sm-8">
                    <textarea class="form-control" disabled>@ViewBag.Description</textarea>
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Description" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" href="/Product/Index" role="button">Cancel</a>
                </div>
            </div>

        </form>

    </div>
</div>
